{% include 'base.html' %} {% block content %}

<div class="container">
  <hr />
  <h2 style="text-align: center">Pets To Be Adopted</h2>
  <hr />
  <div class="card-deck" style="display: flex; align-items: center">
    {% for pet in data %}
    <div class="card shadow-sm">
      <img
        src="{{ pet.pet_image.url }}"
        class="card-img-top"
        height="200px"
        width="200px"
      />
      <div class="card-body">
        <p>Hi! I'm <a href="/pet/{{pet.id}}/">{{pet.name}}</a></p>
        <p>I'm a/an {{ pet.age }} year old {{pet.pet_type}}.</p>
        <a href="/pet/{{pet.id}}/">See more info about me!</a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock content %}
